*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --button-color: #54ea54;
}
.header .signup button{
    background-color:var(--button-color) ;
    border:none;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 700;
}